@layer estheticaui-tokens {
  :root {
    --est-accordion-border-width: 1px;
    --est-accordion-border-color: var(--est-color-neutral-200);

    --est-accordion-trigger-padding-y: 1rem;
    --est-accordion-trigger-font-size: var(--est-font-size-base);
    --est-accordion-trigger-font-weight: var(--est-font-weight-medium);

    --est-accordion-content-padding-b: 1rem;
    --est-accordion-content-padding-x: 0.3rem;
    --est-accordion-content-padding-y: 0.3rem;
    --est-accordion-content-font-size: var(--est-font-size-sm);

    --est-accordion-icon-size: 1.25rem;
    --est-accordion-transition-duration: 250ms;

    /* Colors */
    --est-accordion-trigger-color: var(--est-color-neutral-900);
    --est-accordion-hover-trigger-color: var(--est-color-primary);
    --est-accordion-content-color: var(--est-color-neutral-600);
  }
}
