@layer estheticaui-tokens {
  :root {
    --est-card-radius: var(--est-radius);
    --est-card-padding-x: 0.75rem;
    --est-card-padding-y: 0.5rem;

    /* ── Base/Default tokens ─────────────────────────────────────── */
    --est-card-default-bg-color: var(--est-color-white);
    --est-card-default-color: var(--est-color-neutral-800);
    --est-card-default-hover-color: var(--est-color-neutral-900);
    --est-card-default-border-color: rgba(0, 0, 0, 0.1);

    /* ── Color variant presets ───────────────────────────────────── */
    --est-card-primary-bg-color: var(--est-color-primary-muted-background-color);
    --est-card-primary-color: var(--est-color-primary-border-color);
    --est-card-primary-hover-color: var(--est-color-primary-900);
    --est-card-primary-border-color: var(--est-color-primary-muted-border-color);

    --est-card-success-bg-color: var(--est-color-success-muted-background-color);
    --est-card-success-color: var(--est-color-success-background-color);
    --est-card-success-hover-color: var(--est-color-success-900);
    --est-card-success-border-color: var(--est-color-success-muted-border-color);

    --est-card-info-bg-color: var(--est-color-info-muted-background-color);
    --est-card-info-color: var(--est-color-info-background-color);
    --est-card-info-hover-color: var(--est-color-info-900);
    --est-card-info-border-color: var(--est-color-info-muted-border-color);

    --est-card-warning-bg-color: var(--est-color-warning-muted-background-color);
    --est-card-warning-color: var(--est-color-warning-muted-foreground-color);
    --est-card-warning-hover-color: var(--est-color-warning-foreground-color);
    --est-card-warning-border-color: var(--est-color-warning-muted-border-color);

    --est-card-danger-bg-color: var(--est-color-danger-muted-background-color);
    --est-card-danger-color: var(--est-color-danger-hovered-color);
    --est-card-danger-hover-color: var(--est-color-danger-900);
    --est-card-danger-border-color: var(--est-color-danger-muted-hovered-color);
  }
}
