@layer esthetica-ui-tokens {
  :root {
    --est-meter-bar-height: 0.375rem;
    --est-meter-label-size: 0.75rem;
    --est-meter-req-icon-size: 0.875rem;
    --est-meter-transition-duration: 300ms;
    --est-meter-label-font-weight: var(--est-font-weight-medium);
    --est-meter-req-label-font-weight: var(--est-font-weight-medium);
    --est-meter-req-label-font-size: var(--est-font-size-xs);

    /* Base */
    --est-meter-default-bar-bg-color: var(--est-meter-default-empty-bg-color);
    --est-meter-default-label-color: var(--est-meter-default-weak-color);
    --est-meter-default-req-icon-color: var(--est-meter-default-req-unmet-icon-color);
    --est-meter-default-req-label-color: var(--est-meter-default-req-unmet-color);

    /* Strength states */
    --est-meter-default-empty-bg-color: var(--est-color-neutral-200);
    --est-meter-default-weak-bg-color: var(--est-color-danger);
    --est-meter-default-fair-bg-color: var(--est-color-warning);
    --est-meter-default-good-bg-color: var(--est-color-success);
    --est-meter-default-strong-bg-color: var(--est-color-success);

    --est-meter-default-weak-color: var(--est-color-danger);
    --est-meter-default-fair-color: var(--est-color-warning);
    --est-meter-default-good-color: var(--est-color-success);
    --est-meter-default-strong-color: var(--est-color-success);

    --est-meter-default-req-met-color: var(--est-color-neutral-700);
    --est-meter-default-req-unmet-color: var(--est-color-neutral-400);
    --est-meter-default-req-met-icon-color: var(--est-color-success);
    --est-meter-default-req-unmet-icon-color: var(--est-color-neutral-300);
  }
}
