@layer esthetica-ui-tokens {
  :root {
    --est-meter-bar-height: 0.375rem;
    --est-meter-label-size: 0.75rem;
    --est-meter-req-icon-size: 0.875rem;
    --est-meter-transition-duration: 300ms;
    --est-meter-label-font-weight: var(--est-font-weight-medium);
    --est-meter-req-label-font-weight: var(--est-font-weight-medium);
    --est-meter-req-label-font-size: var(--est-font-size-xs);

    /* Base */
    --est-meter-bar-color: var(--est-meter-empty);
    --est-meter-label-color: var(--est-meter-weak);
    --est-meter-req-icon-color: var(--est-meter-req-unmet-icon);
    --est-meter-req-label-color: var(--est-meter-req-unmet-color);

    /* Strength states */
    --est-meter-empty: var(--est-color-neutral-200);
    --est-meter-weak: var(--est-color-danger);
    --est-meter-fair: var(--est-color-warning);
    --est-meter-good: var(--est-color-success);
    --est-meter-strong: var(--est-color-success);

    --est-meter-req-met-color: var(--est-color-neutral-700);
    --est-meter-req-unmet-color: var(--est-color-neutral-400);
    --est-meter-req-met-icon: var(--est-color-success);
    --est-meter-req-unmet-icon: var(--est-color-neutral-300);
  }
}
