@layer estheticaui-tokens {
  :root {
    --est-table-default-bg-color: var(--est-color-white);
    --est-table-default-border-color: var(--est-color-neutral-200);
    --est-table-default-header-bg-color: var(--est-color-neutral-50);
    --est-table-default-header-color: var(--est-color-neutral-500);
    --est-table-default-body-color: var(--est-color-neutral-700);
    --est-table-default-row-border-color: var(--est-color-neutral-100);
    --est-table-default-striped-bg-color: var(--est-color-neutral-50);
    --est-table-default-hover-bg-color: var(--est-color-neutral-50);
    --est-table-default-empty-color: var(--est-color-neutral-400);
    --est-table-default-slot-border-color: var(--est-color-neutral-100);
    --est-table-slot-padding-x: 1.25rem;
    --est-table-slot-padding-y-header: 1rem;
    --est-table-slot-padding-y-footer: 0.75rem;
    --est-table-cell-padding-x: 1rem;
    --est-table-header-cell-padding-y: 0.75rem;
    --est-table-body-cell-padding-y: 0.875rem;
    --est-table-empty-padding-y: 2rem;
  }
}
