.est-alert__inner {
  @apply flex items-center gap-3;
  --est-alert-icon-color: var(--est-card-color);
  --est-alert-title-color: var(--est-card-color);
  --est-alert-body-color: var(--est-card-color);
  --est-alert-close-color: var(--est-card-color);
  --est-alert-close-hover-color: var(--est-card-color-hover);
}

.est-alert__inner--primary {
  --est-alert-icon-color: var(--est-color-primary-500);
}

.est-alert__inner--success {
  --est-alert-icon-color: var(--est-color-success-500);
}

.est-alert__inner--info {
  --est-alert-icon-color: var(--est-color-info-500);
}

.est-alert__inner--warning {
  --est-alert-icon-color: var(--est-color-warning-500);
}

.est-alert__inner--danger {
  --est-alert-icon-color: var(--est-color-danger-500);
}

.est-alert__icon {
  @apply shrink-0 w-6 h-6;
  color: var(--est-alert-icon-color);
}

.est-alert__content {
  @apply flex-1 min-w-0 gap-4;
}

.est-alert__title {
  @apply leading-snug;
  color: var(--est-alert-title-color);
  font-size: var(--est-alert-title-font-size);
  font-weight: var(--est-alert-title-font-weight);
}

.est-alert__body {
  @apply leading-snug;
  color: var(--est-alert-body-color);
  font-size: var(--est-alert-body-font-size);
}

.est-alert__body--with-title {
  @apply mt-0.5;
}

.est-alert__close {
  @apply shrink-0 flex items-center justify-center;
  @apply border-none p-0.5 rounded cursor-pointer;
  @apply transition-colors outline-none;
  background-color: transparent;
  color: var(--est-alert-close-color);
}

.est-alert__close:hover {
  color: var(--est-alert-close-hover-color);
}

.est-alert__close:focus-visible {
  @apply ring-2 ring-offset-1;
}
