/* Variants */
.est-card--default {
  --est-card-bg: var(--est-card-default-bg);
  --est-card-color: var(--est-card-default-color);
  --est-card-color-hover: var(--est-card-default-color-hover);
  --est-card-border: var(--est-card-default-border);
}

.est-card--primary {
  --est-card-bg: var(--est-card-primary-bg);
  --est-card-color: var(--est-card-primary-color);
  --est-card-color-hover: var(--est-card-primary-color-hover);
  --est-card-border: var(--est-card-primary-border);
}

.est-card--success {
  --est-card-bg: var(--est-card-success-bg);
  --est-card-color: var(--est-card-success-color);
  --est-card-color-hover: var(--est-card-success-color-hover);
  --est-card-border: var(--est-card-success-border);
}

.est-card--info {
  --est-card-bg: var(--est-card-info-bg);
  --est-card-color: var(--est-card-info-color);
  --est-card-color-hover: var(--est-card-info-color-hover);
  --est-card-border: var(--est-card-info-border);
}

.est-card--warning {
  --est-card-bg: var(--est-card-warning-bg);
  --est-card-color: var(--est-card-warning-color);
  --est-card-color-hover: var(--est-card-warning-color-hover);
  --est-card-border: var(--est-card-warning-border);
}

.est-card--danger {
  --est-card-bg: var(--est-card-danger-bg);
  --est-card-color: var(--est-card-danger-color);
  --est-card-color-hover: var(--est-card-danger-color-hover);
  --est-card-border: var(--est-card-danger-border);
}

.est-card {
  @apply overflow-hidden;
  border-radius: var(--est-card-radius);
  background-color: var(--est-card-bg);
  color: var(--est-card-color);
}

.est-card:not(.est-card--borderless) {
  @apply border border-solid;
  border-color: var(--est-card-border);
}

/* Header */
.est-card__header {
  padding: var(--est-card-padding-y) var(--est-card-padding-x);
}

.est-card__header--bordered {
  @apply border-0 border-b-1 border-solid;
  border-color: inherit;
}

/* Body */
.est-card__body {
  padding: var(--est-card-padding-y) var(--est-card-padding-x);
}

/* Footer */
.est-card__footer {
  padding: var(--est-card-padding-y) var(--est-card-padding-x);
}

.est-card__footer--bordered {
  @apply border-0 border-t border-solid;
  border-color: inherit;
}
