.est-skeleton--none {
  --est-skeleton-radius: var(--est-skeleton-none-radius);
}
.est-skeleton--sm {
  --est-skeleton-radius: var(--est-skeleton-sm-radius);
}
.est-skeleton--md {
  --est-skeleton-radius: var(--est-skeleton-md-radius);
}
.est-skeleton--lg {
  --est-skeleton-radius: var(--est-skeleton-lg-radius);
}
.est-skeleton--full {
  --est-skeleton-radius: var(--est-skeleton-full-radius);
}

.est-skeleton {
  @apply block animate-pulse;
  background-color: var(--est-skeleton-color);
  border-radius: var(--est-skeleton-radius);
}
