@layer esthetica-ui-tokens {
  :root {
    --est-color-black: #070707;
    --est-color-white: #fafaf9;

    --est-color-neutral-50: #f8faf9;
    --est-color-neutral-100: #f1f5f3;
    --est-color-neutral-200: #e3ebe8;
    --est-color-neutral-300: #cbd6d2;
    --est-color-neutral-400: #8e9c97;
    --est-color-neutral-500: #667570;
    --est-color-neutral-600: #3f4d48;
    --est-color-neutral-700: #1e2b26;
    --est-color-neutral-800: #111d19;
    --est-color-neutral-900: #020f0b;
    --est-color-neutral-950: #020f0b;

    --est-color-primary-100: #d1f5ea;
    --est-color-primary-300: #66d9b5;
    --est-color-primary-500: #02b87c;
    --est-color-primary-600: #019665;
    --est-color-primary-700: #01754f;
    --est-color-primary-800: #004c33;
    --est-color-primary-900: #002d1e;
    --est-color-primary: var(--est-color-primary-700);
    --est-color-primary-hover: var(--est-color-primary-600);
    --est-color-primary-fg: var(--est-color-white);

    --est-color-secondary: #e7e5e4;
    --est-color-secondary-hover: #d6d3d1;
    --est-color-secondary-fg: #1c1917;

    --est-color-info-100: #e0f2fe;
    --est-color-info-300: #7dd3fc;
    --est-color-info-400: #0ea5e9;
    --est-color-info-500: #0ea5e9;
    --est-color-info-700: #075985;
    --est-color-info: var(--est-color-info-500);
    --est-color-info-hover: var(--est-color-info-400);
    --est-color-info-fg: var(--est-color-white);

    --est-color-warning-100: #fef3c7;
    --est-color-warning-300: #fcd34d;
    --est-color-warning-400: #f59e0b;
    --est-color-warning-500: #f59e0b;
    --est-color-warning-700: #92400e;
    --est-color-warning: var(--est-color-warning-500);
    --est-color-warning-hover: var(--est-color-warning-400);
    --est-color-warning-fg: var(--est-color-white);

    --est-color-success-100: #d1fae5;
    --est-color-success-300: #6ee7b7;
    --est-color-success-400: #059669;
    --est-color-success-500: #059669;
    --est-color-success-700: #065f46;
    --est-color-success: var(--est-color-success-500);
    --est-color-success-hover: var(--est-color-success-400);
    --est-color-success-fg: var(--est-color-white);

    --est-color-danger-100: #ffe4e6;
    --est-color-danger-200: #fecdd3;
    --est-color-danger-300: #fda4af;
    --est-color-danger-400: #fb7185;
    --est-color-danger-500: #e11d48;
    --est-color-danger-700: #9f1239;
    --est-color-danger: var(--est-color-danger-500);
    --est-color-danger-hover: var(--est-color-danger-400);
    --est-color-danger-fg: var(--est-color-white);

    --est-color-border: #a8a29e;
    --est-color-border-strong: #1c1917;

    --est-color-surface: #fafaf9;
    --est-color-muted: #f5f5f4;
    --est-color-muted-fg: #44403c;
  }
}
