@layer esthetica-ui-tokens {
  :root {
    --est-color-black: #070707;
    --est-color-white: white;
    --est-color-border: #a8a29e;
    --est-color-border-strong: #1c1917;
    --est-color-surface: #fafaf9;

    --est-color-muted: #f5f5f4;
    --est-color-muted-fg: #44403c;

    --est-color-neutral-50: #f8fafc;
    --est-color-neutral-100: #f1f5f9;
    --est-color-neutral-200: #e2e8f0;
    --est-color-neutral-300: #cad5e2;
    --est-color-neutral-400: #90a1b9;
    --est-color-neutral-500: #62748e;
    --est-color-neutral-600: #45556c;
    --est-color-neutral-700: #314158;
    --est-color-neutral-800: #1d293d;
    --est-color-neutral-900: #0f172b;
    --est-color-neutral-950: #020618;

    --est-color-secondary: #e7e5e4;
    --est-color-secondary-hover: #d6d3d1;
    --est-color-secondary-pressed: #c6c3c1;
    --est-color-secondary-foreground: #1c1917;

    --est-color-primary-50: #fef5f3;
    --est-color-primary-100: #fcd8cf;
    --est-color-primary-200: #f9b19f;
    --est-color-primary-300: #f5896e;
    --est-color-primary-400: #f2623e;
    --est-color-primary-500: #ef3b0e;
    --est-color-primary-600: #bf2f0b;
    --est-color-primary-700: #8f2308;
    --est-color-primary-800: #601806;
    --est-color-primary-900: #300c03;
    --est-color-primary-950: #180601;

    --est-color-primary-background-color: var(--est-color-primary-500);
    --est-color-primary-foreground-color: var(--est-color-white);
    --est-color-primary-hovered-color: var(--est-color-primary-400);
    --est-color-primary-pressed-color: var(--est-color-primary-700);
    --est-color-primary-border-color: var(--est-color-primary-600);
    --est-color-primary-focus-ring-color: var(--est-color-primary-300);
    --est-color-primary-muted-background-color: var(--est-color-primary-50);
    --est-color-primary-muted-foreground-color: var(--est-color-primary-700);
    --est-color-primary-muted-hovered-color: var(--est-color-primary-100);
    --est-color-primary-muted-pressed-color: var(--est-color-primary-200);
    --est-color-primary-muted-border-color: var(--est-color-primary-200);

    --est-color-info-50: #f3f7fd;
    --est-color-info-100: #d1e1f8;
    --est-color-info-200: #a3c3f1;
    --est-color-info-300: #74a4e9;
    --est-color-info-400: #4686e2;
    --est-color-info-500: #1868db;
    --est-color-info-600: #1353af;
    --est-color-info-700: #0e3e83;
    --est-color-info-800: #0a2a58;
    --est-color-info-900: #05152c;
    --est-color-info-950: #020a16;

    --est-color-info-background-color: var(--est-color-info-500);
    --est-color-info-foreground-color: var(--est-color-white);
    --est-color-info-hovered-color: var(--est-color-info-400);
    --est-color-info-pressed-color: var(--est-color-info-700);
    --est-color-info-border-color: var(--est-color-info-600);
    --est-color-info-focus-ring-color: var(--est-color-info-300);
    --est-color-info-muted-background-color: var(--est-color-info-50);
    --est-color-info-muted-foreground-color: var(--est-color-info-700);
    --est-color-info-muted-hovered-color: var(--est-color-info-100);
    --est-color-info-muted-pressed-color: var(--est-color-info-200);
    --est-color-info-muted-border-color: var(--est-color-info-200);

    --est-color-warning-50: #fffbf3;
    --est-color-warning-100: #feeed0;
    --est-color-warning-200: #fddda2;
    --est-color-warning-300: #fccb73;
    --est-color-warning-400: #fbba45;
    --est-color-warning-500: #faa916;
    --est-color-warning-600: #c88712;
    --est-color-warning-700: #96650d;
    --est-color-warning-800: #644409;
    --est-color-warning-900: #322204;
    --est-color-warning-950: #191102;

    --est-color-warning-background-color: var(--est-color-warning-500);
    --est-color-warning-foreground-color: var(--est-color-warning-900);
    --est-color-warning-hovered-color: var(--est-color-warning-400);
    --est-color-warning-pressed-color: var(--est-color-warning-700);
    --est-color-warning-border-color: var(--est-color-warning-600);
    --est-color-warning-focus-ring-color: var(--est-color-warning-300);
    --est-color-warning-muted-background-color: var(--est-color-warning-50);
    --est-color-warning-muted-foreground-color: var(--est-color-warning-700);
    --est-color-warning-muted-hovered-color: var(--est-color-warning-100);
    --est-color-warning-muted-pressed-color: var(--est-color-warning-200);
    --est-color-warning-muted-border-color: var(--est-color-warning-200);

    --est-color-success-50: #f2f9f3;
    --est-color-success-100: #cce6cf;
    --est-color-success-200: #99cc9e;
    --est-color-success-300: #66b36e;
    --est-color-success-400: #33993d;
    --est-color-success-500: #00800d;
    --est-color-success-600: #00660a;
    --est-color-success-700: #004d08;
    --est-color-success-800: #003305;
    --est-color-success-900: #001a03;
    --est-color-success-950: #000d01;

    --est-color-success-background-color: var(--est-color-success-500);
    --est-color-success-foreground-color: var(--est-color-white);
    --est-color-success-hovered-color: var(--est-color-success-400);
    --est-color-success-pressed-color: var(--est-color-success-700);
    --est-color-success-border-color: var(--est-color-success-600);
    --est-color-success-focus-ring-color: var(--est-color-success-300);
    --est-color-success-muted-background-color: var(--est-color-success-50);
    --est-color-success-muted-foreground-color: var(--est-color-success-700);
    --est-color-success-muted-hovered-color: var(--est-color-success-100);
    --est-color-success-muted-pressed-color: var(--est-color-success-200);
    --est-color-success-muted-border-color: var(--est-color-success-200);

    --est-color-danger-50: #faf2f2;
    --est-color-danger-100: #edcccc;
    --est-color-danger-200: #da9999;
    --est-color-danger-300: #c86666;
    --est-color-danger-400: #b53333;
    --est-color-danger-500: #a30000;
    --est-color-danger-600: #820000;
    --est-color-danger-700: #620000;
    --est-color-danger-800: #410000;
    --est-color-danger-900: #210000;
    --est-color-danger-950: #100000;

    --est-color-danger-background-color: var(--est-color-danger-500);
    --est-color-danger-foreground-color: var(--est-color-white);
    --est-color-danger-hovered-color: var(--est-color-danger-400);
    --est-color-danger-pressed-color: var(--est-color-danger-700);
    --est-color-danger-border-color: var(--est-color-danger-600);
    --est-color-danger-focus-ring-color: var(--est-color-danger-300);
    --est-color-danger-muted-background-color: var(--est-color-danger-50);
    --est-color-danger-muted-foreground-color: var(--est-color-danger-700);
    --est-color-danger-muted-hovered-color: var(--est-color-danger-100);
    --est-color-danger-muted-pressed-color: var(--est-color-danger-200);
    --est-color-danger-muted-border-color: var(--est-color-danger-200);
  }
}
