@layer esthetica-ui-tokens {
  :root {
    --est-spacing-1: 0px;
    --est-spacing-4: 0.25rem;
    --est-spacing-8: 0.5rem;
    --est-spacing-12: 0.75rem;
    --est-spacing-16: 1rem;
    --est-spacing-20: 1.25rem;
    --est-spacing-24: 1.5rem;
    --est-spacing-28: 1.75rem;
    --est-spacing-32: 2rem;
    --est-spacing-36: 2.25rem;
    --est-spacing-40: 2.5rem;
    --est-spacing-44: 2.75rem;
    --est-spacing-48: 3rem;
    --est-spacing-52: 3.25rem;
    --est-spacing-56: 3.5rem;
    --est-spacing-60: 3.75rem;
    --est-spacing-64: 4rem;
    --est-spacing-68: 4.25rem;
    --est-spacing-72: 4.5rem;
    --est-spacing-76: 4.75rem;
    --est-spacing-80: 5rem;
    --est-spacing-84: 5.25rem;
    --est-spacing-88: 5.5rem;
    --est-spacing-92: 5.75rem;
    --est-spacing-96: 6rem;
    --est-spacing-100: 6.25rem;
  }
}
